/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
}

a {
  text-decoration: none;
}

h4 {
  font-family: 'Cinzel', sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 10px;
}

.title {
  width: 230px;
  grid-area: h3;
  align-self: center;
  font-size: 1.5em;
  font-family: 'Cinzel', sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #959d40;
}

section:not(.hero) {
  padding: 0 60px;
}

/* Topbar Styles */

.topbar {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: 55px;
  grid-template-areas:
    "email phone";
  grid-column-gap: 20px;
  align-items: stretch;
  background-color: #5d5c00;
  font-size: 12px;
  font-family: 'Quicksand';
  letter-spacing: 1px;
}

.topbar a {
  color: #fffeaa;
  font-weight: 300;
}

.topbar i {
  font-size: 12px;
  color: #fff5b5;
}

#email {
  grid-area: email;
  justify-self: right;
  align-self: center;
}

#phone {
  grid-area: phone;
  padding: 21px 0 0 20px;
  border-left: 1px solid #fffeaa;
}

@media (max-width: 950px) {
  .topbar {
    display: none;
  }
}

/* Header Styles */

header {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows: 120px;
  grid-template-areas:
    "logo logo-text social";
  align-items: center;
  background-color: #807d40;
  border-bottom: 1.1px solid white;
}

#logo {
  grid-area: logo;
  height: auto;
  width: 80px;
  margin-left: 90px;
}

#logo-text {
  grid-area: logo-text;
  font-size: 20px;
  font-family: 'Cinzel', serif;
  font-weight: 100;
  color: #ededed;
}

.social {
  grid-area: social;
  justify-self: end;
  margin-right: 70px;
}

.social i {
  color: white;
  font-size: 16px;
  padding: 10px;
}

.social i:hover {
  color: #b5b446;
  cursor: pointer;
  transition: color 0.2s ease;
}

@media (max-width: 1115px) {
  header {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
  }
  #logo {
    margin-left: 0;
  }
  .social {
    display: none;
  }
}

@media (max-width: 430px) {
  #logo {
    padding: 10px;
  }
  #logo-text {
    font-size: 18px;
  }
}

/* Navbar Styles */

#navbar {
  display: flex;
  align-items: center;
  background-color: #e7e080;
  text-transform: uppercase;
  font-family: 'Quicksand', serif;
  font-size: .9em;
  padding-left: 70px;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}

#navbar a {
  color: #1c1c1c;
  padding: 31px;
}

#navbar a:first-of-type {
  color: #f4f4f4;
  border-top: 3px solid #f4f4f4;
}

#navbar a:hover {
  color: #f4f4f4;
  border-top: 3px solid white;
  transition: all 0.2s ease;
}

@media (max-width: 600px) {
  #navbar {
    display: none;
  }
}

/* Hero Styles */

.hero .img {
  width: 100%;
  height: 500px;
  background-size: cover;
}

/* About Styles */

#about {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 250px auto;
  grid-template-areas:
    "h3 ."
    "mission vision";
  padding-bottom: 150px;
}

#mission {
  grid-area: mission;
}

#vision {
  grid-area: vision;
}

.about-text {
  padding: 0 60px;
  line-height: 1.8em;
  text-indent: 17px;
}

@media (max-width: 1000px) {
  #about {
    grid-template-columns: auto;
    grid-template-rows: 80px auto auto;
    grid-template-areas:
      "h3"
      "mission"
      "vision";
    margin-top: 80px;
  }
  .about-text {
    margin: 40px 30px 0;
  }
  #mission {
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) {
  .about-text {
    padding: 0;
    text-align: justify;
  }
}

/* Activities Styles */

#activities {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 500px;
  grid-template-areas:
    "h3"
    "activities";
  background-color: #dee2b8;
}

#activities-pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "picture1 picture2 picture3 picture4";
  grid-area: activities;
  position: relative;
}

#activity-picture1 {
  grid-area: picture1;
}

#activity-picture2 {
  grid-area: picture2;
}

#activity-picture3 {
  grid-area: picture3;
}

#activity-picture4 {
  grid-area: picture4;
}

#activities .img-activity {
  width: 250px;
  height: 375px;
  background-size: cover;
}

.activity-image-container {
  display: grid;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

#activities #activities-pictures .activity-image-container p {
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 26px;
  transform: scale(0);
}

#activities #activities-pictures .activity-image-container:hover p {
  transform: translate(0, 180px) scale(1);
  transition: all .3s ease;
}

#activities #activities-pictures .activity-image-container:hover .img-activity {
  filter: grayscale(100%);
  transition: all .3s ease;
}

.arrow {
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  justify-self: center;
  margin-right: 35px;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

#activities #activities-pictures .activity-image-container:hover .arrow {
  animation-name: arrow;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes arrow {
  0% {
    transform: scale(0);
  }
  25% {
    transform: translate(0, -85px) scale(.8);
  }
  75% {
    transform: translate(0, -145px) scale(1.3);
  }
  100% {
    transform: translate(0, -150px) scale(1.5);
  }
}

@media (max-width: 1200px) {
  #activities {
    grid-template-rows: 250px 1000px;
  }
  .activity-image-container {
    height: 400px;
    width: 500px;
    justify-content: center;
  }
  #activities #activities-pictures .activity-image-container p {
    font-size: 40px;
  }
  #activities #activities-pictures .activity-image-container:hover p {
    transform: translate(0, 150px) scale(1);
    transition: all .3s ease;
  }
  #activities-pictures {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "picture1 picture2"
      "picture3 picture4";
  }
  #activities .img-activity {
    width: 500px;
    height: 375px;
  }
  @keyframes arrow {
    0% {
      transform: translate(20px, -20) scale(0);
    }
    25% {
      transform: translate(20px, -70px) scale(.8);
    }
    75% {
      transform: translate(20px, -130px) scale(1.3);
    }
    100% {
      transform: translate(20px, -135px) scale(1.5);
    }
  }
}

@media (max-width: 1150px) {
  #activities {
    grid-template-columns: 1fr;
    grid-template-rows: 250px auto;
    padding: 0 20px;
  }
  #activities .title {
    margin-left: 50px;
  }
  .activity-image-container {
    display: block;
    width: 100%;
    height: auto;
  }
  #activities-pictures {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 100px;
  }
  #activities .img-activity {
    width: 100%;
    height: 400px;
}
  .arrow {
    display: none;
  }
}

@media (max-width: 700px) {
  #activities-pictures {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "picture1"
      "picture2"
      "picture3"
      "picture4";
    grid-row-gap: 5px;
    padding: 0;
  }
}

/* Contact Styles */

#contact {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  grid-template-areas:
    "contact1 contact2 contact3";
  font-family: 'Open Sans';
}

#contact-column1 {
  grid-area: contact1;
}

#contact-column2 {
  grid-area: contact2;
}

#contact-column3 {
  grid-area: contact3;
}

#contact h5 {
  color: #959d40;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 100px;
  margin-bottom: 20px;
}

#contact p {
  font-size: .9em;
  font-weight: 300;
  margin: 30px 0;
}

/* Footer Styles */

footer {
  background-color: #dee2b8;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 9px;
}

footer i {
  margin-right: 20px;
}

footer i:hover {
  color: #b5b446;
  cursor: pointer;
  transition: color 0.2s ease;
}
